<ally-focus-monitor></ally-focus-monitor>

<div class="tile-list" (keydown)="handleKeydown($event)">
  <div allyTile class="nes-container tile">1</div>
  <div allyTile class="nes-container tile">2</div>
  <div allyTile class="nes-container tile">3</div>
  <div allyTile class="nes-container tile">4</div>
  <div allyTile class="nes-container tile">5</div>
  <div allyTile class="nes-container tile">6</div>
  <div allyTile class="nes-container tile">7</div>
  <div allyTile class="nes-container tile">8</div>
</div>
